{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Instance{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
	  <table>
		  <tr>
			  <td width="15%">
				  <label for="id_protocol">protocol</label>
			  </td>
			  <td>
				  <select name="protocol" id="id_protocol" onchange="window.location='/create_'+this.options[this.selectedIndex].value">
					  <option value="aja">AJA</option>	
					  <option value="udp">UDP</option>	
					  <option value="rtp">RTP</option>	
				  </select>
			  </td>
		  </tr>
		  <tr>
			  <td>
				  <label for='id_title'>title</label>
			  </td>
			  <td>
				  <input type="text" value="" name="title" id="id_title"/>
			  </td>
		  </tr>
		  <tr>
			  <td>
				  <label for="id_duration">duration(s)</label>
			  </td>
			  <td>
				  <input type="text" name="duration" id="id_duration" value="0" />
			  </td>
		  </tr>
		  <tr>
			  <td>
				  <label>ports</label>
			  </td>
			  <td>
				  1<input id="id_port1" type="checkbox" name="port1" checked>
				  2<input id="id_port2" type="checkbox" name="port2">
				  3<input id="id_port3" type="checkbox" name="port3">
				  4<input id="id_port4" type="checkbox" name="port4">
			  </td>
		  </tr>
		  <tr>
			  <td>
				  <label for="id_mute_audio">mute audio</label>
			  </td>
			  <td>
				  <input type="radio" name="mute_audio" id="id_mute_audio"/>
			  </td>
		  </tr>
		  <tr>
			  <td>
				  <label for="id_bits">bits</label>
			  </td>
			  <td>
				  <select name="bits" id="id_bits">
					  <option value="8">8</option>	
					  <option value="10">10</option>	
				  </select>
			  </td>
		  </tr>
		  <tr>
			  <td>
				  <label for="id_format">output format</label>
			  </td>
			  <td>
				  <select name="format" id="id_format">
					  <option value="origin">keep as input</option>
					  <option value="1920x1080x60.00">1920x1080x25.00</option>
					  <option value="1920x1080x59.94">1920x1080x25.00</option>
					  <option value="1920x1080x50.00">1920x1080x50.00</option>
					  <option value="1920x1080x30.00">1920x1080x50.00</option>
					  <option value="1920x1080x29.97">1920x1080x50.00</option>
					  <option value="1920x1080x25.00">1920x1080x25.00</option>
					  <option value="1280x720x60.00">1280x720x50.00</option>
					  <option value="1280x720x59.94">1280x720x50.00</option>
					  <option value="1280x720x50.00">1280x720x50.00</option>
				  </select>
			  </td>
		  </tr>
		  <tr>
		  	<td>
				<label for="id_interlaced">interlaced</label>
			</td>
			<td>
				<input type="radio" name="interlaced" id="id_interlaced"/>
			</td>
		  </tr>
		  <tr>
		  	<td>
				<label for="id_input_file">file</label>
			</td>
			<td>
				<select name="input_file" id="id_input_file">
					{% for video in videos %}
					<option>{{ video }}</option>	
					{% endfor %}
				</select>
			</td>
		  </tr>
	  </table>
	  <div align="right">
		  <input type="submit" value="Start">
		  <input type="button" onclick="window.location='/'" value="Cancel">
		  <input type="reset" name="reset" id="reset" value="Reset">
	  </div>
  </form>
{% endblock %}
