{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Running Instances{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for instance in instances %}
    <article class="post">
      <header>
        <div>
          <h1>{{ instance['title'] }}</h1>
          <div class="about">by {{ instance['username'] }} on {{ instance['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == instance['author_id'] %}
		  {% if instance['status'] == 'on' %}
		    <a class="action" href="{{ url_for('blog.stop', id=instance['id']) }}">Stop</a>
		  {% else %}
		    <a class="action" href="{{ url_for('blog.start', id=instance['id']) }}">Start</a>
		  {% endif %}
          <a class="action" href="{{ url_for('blog.update', id=instance['id']) }}">Edit</a>
		{% else %}
		  {% if instance['status'] == 'on' %}
		    <a class="action" href="">running</a>
		  {% else %}
		    <a class="action" href="">offline</a>
		  {% endif %}
        {% endif %}
      </header>
      <p class="body">{{ instance['parameter'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
